  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  
  body{
    font-family: 'montseratt', sans-serif;

  }

  main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    padding: 25px;
  }
  

  .app {
    background-image: url('./assets/cold-bg.jpg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease;
    color: #000000;
    font-size: 20px;
    transition: 0.4s ease;
  }
  
  .app.warm {
    background-image: url('./assets/warm-bg.jpg');
    color: #ffffff;
    font-size: 20px;
    transition: 0.4s ease;
  }

  ul {
    list-style-type: none;
  }

  hr {
    border: 3px solid;
    border-radius: 50px;
  }